@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 94%;
    --foreground: 28 29% 20%;
    --card: 60 56% 97%;
    --card-foreground: 28 29% 20%;
    --popover: 60 56% 97%;
    --popover-foreground: 28 29% 20%;
    --primary: 28 29% 50%;
    --primary-foreground: 40 30% 98%;
    --secondary: 34 44% 90%;
    --secondary-foreground: 28 29% 20%;
    --muted: 34 44% 90%;
    --muted-foreground: 28 29% 40%;
    --accent: 34 44% 68%;
    --accent-foreground: 28 29% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 34 44% 85%;
    --input: 34 44% 88%;
    --ring: 28 29% 50%;
    --chart-1: 28 29% 50%;
    --chart-2: 34 44% 68%;
    --chart-3: 34 30% 55%;
    --chart-4: 28 20% 40%;
    --chart-5: 60 10% 60%;
    --radius: 0.5rem;
    --sidebar-background: 34 25% 96%;
    --sidebar-foreground: 28 29% 25%;
    --sidebar-primary: 28 29% 50%;
    --sidebar-primary-foreground: 40 30% 98%;
    --sidebar-accent: 34 44% 90%;
    --sidebar-accent-foreground: 28 29% 20%;
    --sidebar-border: 34 30% 85%;
    --sidebar-ring: 28 29% 50%;
  }
  .dark {
    --background: 28 10% 10%;
    --foreground: 60 30% 96%;
    --card: 28 10% 12%;
    --card-foreground: 60 30% 96%;
    --popover: 28 10% 10%;
    --popover-foreground: 60 30% 96%;
    --primary: 34 44% 68%;
    --primary-foreground: 28 29% 10%;
    --secondary: 28 10% 20%;
    --secondary-foreground: 60 30% 96%;
    --muted: 28 10% 20%;
    --muted-foreground: 60 30% 80%;
    --accent: 28 10% 25%;
    --accent-foreground: 60 30% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 10% 25%;
    --input: 28 10% 20%;
    --ring: 34 44% 68%;
    --chart-1: 34 44% 68%;
    --chart-2: 28 29% 50%;
    --chart-3: 34 30% 55%;
    --chart-4: 28 20% 70%;
    --chart-5: 60 10% 40%;
    --sidebar-background: 28 10% 10%;
    --sidebar-foreground: 60 30% 96%;
    --sidebar-primary: 34 44% 68%;
    --sidebar-primary-foreground: 28 29% 10%;
    --sidebar-accent: 28 10% 20%;
    --sidebar-accent-foreground: 60 30% 96%;
    --sidebar-border: 28 10% 25%;
    --sidebar-ring: 34 44% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
