@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 45 50% 95%;
    --foreground: 4 28% 18%;
    --card: 45 50% 97%;
    --card-foreground: 4 28% 18%;
    --popover: 45 50% 97%;
    --popover-foreground: 4 28% 18%;
    --primary: 4 28% 23%;
    --primary-foreground: 45 50% 98%;
    --secondary: 100 8% 92%;
    --secondary-foreground: 4 28% 23%;
    --muted: 100 8% 92%;
    --muted-foreground: 4 28% 40%;
    --accent: 18 27% 49%;
    --accent-foreground: 45 50% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 100 8% 88%;
    --input: 100 8% 90%;
    --ring: 18 27% 49%;
    --chart-1: 4 28% 23%;
    --chart-2: 18 27% 49%;
    --chart-3: 18 27% 60%;
    --chart-4: 4 28% 40%;
    --chart-5: 100 8% 70%;
    --radius: 0.5rem;
    --sidebar-background: 100 8% 96%;
    --sidebar-foreground: 4 28% 23%;
    --sidebar-primary: 4 28% 23%;
    --sidebar-primary-foreground: 45 50% 98%;
    --sidebar-accent: 100 8% 92%;
    --sidebar-accent-foreground: 4 28% 23%;
    --sidebar-border: 100 8% 88%;
    --sidebar-ring: 18 27% 49%;
  }
  .dark {
    --background: 4 10% 15%;
    --foreground: 45 30% 92%;
    --card: 4 10% 17%;
    --card-foreground: 45 30% 92%;
    --popover: 4 10% 15%;
    --popover-foreground: 45 30% 92%;
    --primary: 18 27% 49%;
    --primary-foreground: 4 10% 10%;
    --secondary: 4 10% 25%;
    --secondary-foreground: 45 30% 92%;
    --muted: 4 10% 25%;
    --muted-foreground: 45 30% 80%;
    --accent: 4 10% 30%;
    --accent-foreground: 45 30% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 4 10% 30%;
    --input: 4 10% 25%;
    --ring: 18 27% 49%;
    --chart-1: 18 27% 49%;
    --chart-2: 4 28% 35%;
    --chart-3: 18 27% 60%;
    --chart-4: 45 30% 80%;
    --chart-5: 4 10% 40%;
    --sidebar-background: 4 10% 15%;
    --sidebar-foreground: 45 30% 92%;
    --sidebar-primary: 18 27% 49%;
    --sidebar-primary-foreground: 4 10% 10%;
    --sidebar-accent: 4 10% 25%;
    --sidebar-accent-foreground: 45 30% 92%;
    --sidebar-border: 4 10% 30%;
    --sidebar-ring: 18 27% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
